@import '../../styles/shared';

.FixesByCar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .8rem;
    header {
        display: flex;
    }
    .Fixes-List {
        ul {
            margin: 0;
            padding: 0;
            li {
                margin: .4rem;
                padding: .6rem;
                background-color: $accent;
            }
        }
    }
}