@import '_reset';
@import '_shared';

body, html {
    margin: 0;
    padding: 0;
    font-family: $default-family-font;
    font-weight: $font-small-weight;
    font-size: $font-small;
}

body {
    background-color: $bg-color;
}

a {
    text-decoration: none;
    color: $text-links;
    &:hover {
        color: $text-links-hover;
    }
}

.text-center {
    text-align: center;
}

.button {
    font: inherit;
    border: none;
    background: transparent;
    margin: 0rem .4rem;
    cursor: pointer;
}

.button-primary {
    border: 1px solid $primary-color;
    background-color: $secondary-text-color;
}